@import '../../index.scss';

.menu__list {
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  background-color: $designo-black;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: bottom 0.3s ease-in-out;

  @media (min-width: $screen-md-min) {
    z-index: 0;
    font-size: $font-size-sm;
    color: $designo-black;
    position: relative;
    background-color: transparent;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
}

.menu__list--open {
  bottom: -12.5rem;
}

.menu__list-item {
  padding: 1rem;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
  transition: color 0.1s linear;

  &:hover {
    cursor: pointer;
    color: $designo-orange;
  }

  @media (min-width: $screen-md-min) {
    padding: 0;
    margin: 0 1rem;

    &::after {
      content: '';
      width: 0;
      height: 1px;
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      transition: width 0.3s linear;
      background-color: $designo_orange;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
